.hero_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.hero {
  width: 80%;
  margin: auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
.hero_img_con {
  flex: 1;
  display: grid;
  place-items: center;

  /* background-color: crimson; */
}
.img_box {
  width: 300px;
  height: 300px;
  display: grid;
  place-items: center;
  border-radius: 15px;
}
.hero_img {
  width: 100%;

  object-fit: contain;
}
.hero_info {
  flex: 1;
  height: 200px;

  padding: 10px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: whitesmoke; */
  border-radius: 15px;
}
.hero_title > h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: start;
  padding: 5px 10px;
  margin: 5px;
  text-transform: uppercase;
}
.hero_des > p {
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  padding: 5px 10px;
  margin: 5px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
