.letter_con {
  height: 300px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letter_title {
  font-size: 56px;
  margin-bottom: 15px;
}
.letter_desc {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}
.input_con {
  width: 50%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}
.letter_inp {
  border: none;
  flex: 9;
  padding-left: 20px;
}
.letter_btn {
  flex: 1;
  border: none;
  background: teal;
  color: wheat;
  font-size: 24px;
  cursor: pointer;
}
